# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
number_theory

/.vscode
gcd
powmod
tempCodeRunnerFile.cpp
ecc.private.der
ecc.public.der
ECDSA
ECDSA_keygen
RSA_keygen
rsa-private.key
rsa-public.key
b1
b1-3
b1-3-alter
large_prime
b2